<%- include('partials/header') -%>



<div class="" style="background-color:black;">


<div class="" style="color:blue;">
  <nav class=" navbar navbar-expand  fixed-top " id="navbarblocks" >

    <a class="navbar-brand title" style="padding: 5px; font-size:30px;  color:white;" href="#">
      <img src="owl1.png" alt="logo" style="height: 120px;  margin-right: 0px;">STYLESTER<span style="color:blue;">AI</span></a>
    <div class="nav-link-items">
    <a class="nav-link item" href="#Home">Home</a>
      <a class="nav-link item" href="#About">About</a>
      <a class="nav-link item" href="#Designs">Check Our Designs</a>
      <a class="nav-link item" href="#Contact-Us">Contact us</a>
      </div>
      <a class="nav-link login" href="/login-signup">LOGIN/SIGNUP</a>
      </nav>
</div>

<section id="Home">

  <div class="title-name">
    <p style="line-height:1; margin:0;">MEET MR.STYLESTER </p>
    <p style="margin: 0 ;">HE WILL DESIGN FOR YOU!</p>
  </div>
  <div class="">

    <div class="centered-owl">
      <img style="min-width:1000px;" class="" src="owl3.jpg" alt="">
    </div>
    </div>

</section>


  <section id="About">


  <div class="description">
      <p><span class="description-text">I am a front-end</span></p>
      <p><span class="description-text">Developer,I will</span></p>
      <p><span class="description-text">Design Your website</span></p>
    <p><span class="description-text">Beautifully</span></p>
  </div>
</section>




<section id="Designs">


    <div class="">
      <div class="first project-class">
        <img src="srisaila-devasthanam.png" style="height:450px; width:40%;" alt="">
        <span style="width:20%"></span>
        <p>srisaila devasthanam website</p>
      </div>
      <div class="second project-class">
        <p>Drum kit Play</p>
        <span style="width:20%"></span>
        <img src="drumkit.png" style="height:450px; width:40%;" alt="">
      </div>

      <div class="third project-class">
        <img src="simon-game.png" style="height:450px; width:40%;" alt="">
        <span style="width:20%"></span>
        <p>Simon game</p>
      </div>
    </div>
  </section>
<section id="Contact-Us">


  <div class="contactus">
    <p>This is all about me,
      If you love my work
    you can contact me</p>
  </div>
  <div class="contact-information">
    <div class="brand-name">
    <a class="navbar-image title" style=" padding:5px; font-size:3rem;  color:white;" href="#">
      <img src="owl3.jpg" alt="logo" style="height: 150px;">STYLESTER<span style="color:blue;">AI</span></a>
    </div>
    <div class="icons">
      <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
      <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
    </div>

  </div>

</section>

  <div class="details">
    <p><a class="" href="#About">About</a></p>
        <p><a class="" href="#Designs">Check Our Designs</a></p>
      <p><a class="" href="#Contact-Us">Contact us</a></p>
    <p><a href="/Returns">Returns & Refunds</a></p>
  </div>
<br>
<br>
  <div class="copyrights">
    <p>copyright</p> <span class="rounded-c">C</span><p>2023 Stylesterail</p>

  </div>
  </div>
