<%- include('partials/header') -%>



<div class="background" style="">

<div class="start-class" style="">
  <nav class=" navbar navbar-expand  fixed-top" id="navbarblocks" >
    <img src="owl1.png" class="img-logo"  alt="logo";>
    <a class="navbar-brand title" href="#">STYLESTER<span style="color:blue;">AI</span></a>
    <div class="nav-link-items">
    <a class="nav-link item" href="#Home">Home</a>
      <a class="nav-link item" href="#About">About</a>
      <a class="nav-link item" href="#Designs">Check Our Designs</a>
      <a class="nav-link item" href="#Contact-Us">Contact us</a>
      </div>
      <a class="nav-link login" href="/login-signup">LOGIN/SIGNUP</a>
      </nav>
</div>

<section id="Home">

  <div class="title-name">
    <p>MEET MR.STYLESTER </p>
    <p>HE WILL DESIGN FOR YOU!</p>
  </div>
  <div class="">

    <div class="centered-owl">
      <img src="owl3.jpg" alt="Owl">
    </div>
    </div>

</section>


  <section id="About">


  <div class="description">
      <p><span class="description-text">I am a front-end</span></p>
      <p><span class="description-text">Developer,I will</span></p>
      <p><span class="description-text">Design Your website</span></p>
    <p><span class="description-text">Beautifully</span></p>
  </div>
</section>




<section id="Designs">


    <div class="">
      <div class="first project-class">
        <img src="srisaila-devasthanam.png" alt="image">
        <span></span>
        <p>srisaila devasthanam website</p>
      </div>
      <div class="second project-class">
        <p>Drum kit Play</p>
        <span></span>
        <img src="drumkit.png" alt="image">
      </div>

      <div class="third project-class">
        <img src="simon-game.png" alt="image">
        <span></span>
        <p>Simon game</p>
      </div>
    </div>
  </section>
<section id="Contact-Us">


  <div class="contactus">
    <p>This is all about me,
      If you love my work
    you can <span>contact me</span></p>
  </div>
  <div class="contact-information">
    <div class="brand-name">
    <a class="navbar-image title" href="#">
      <img src="owl3.jpg" alt="logo">STYLESTER<span>AI</span></a>
    </div>
    <div class="icons">
      <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
      <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
    </div>

  </div>

</section>

  <div class="details">
    <p><a class="" href="#About">About</a></p>
    <p><a class="" href="#Designs">Check Our Designs</a></p>
    <p><a class="" href="#Contact-Us">Contact us</a></p>
    <p><a href="/Returns">Returns & Refunds</a></p>
  </div>
<br>
<br>
  <div class="copyrights">
    <p>copyright</p> <span class="rounded-c">C</span><p>2023 Stylesterail</p>

  </div>
  </div>
