<%- include('partials/header') %>

    <div class="jumbotron centered container-bg">
      <div class="container login-signup-box">
        <h1 class="display-3">Login-Signup</h1>
        <hr>
        <a class="btn btn-light btn-lg" href="/signup" role="button">signup</a>
        <a class="btn btn-dark btn-lg"  href="/login" role="button">Login</a>
      </div>
    </div>
